.wrap{
    width: 1000px;
    margin: 0 auto;
}

.header{
    width: 1001px;
    position: fixed;
    background-color: #FFF;
    z-index: 5;
}


.topbar{
    background: #f6f6f6;
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}

.topbar a{
    display: block;
    text-decoration: none;
    transition: all 0.2s;
}

.topbar a:hover{
    color: #cccccc;
}

.topbar img{
    padding: 0px 2px 0px 5px; 
}

.facebook{
    color:#4460a0 ;
    border-right: 2px solid #cccccc;
    padding-right: 5px;
}

.twitter{
    color: #00aaec;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h1 a{
    display: block;
    width: 224px;
    height: 50px;
    background: url(images/logo.png);
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.menu ul{
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #00cc99;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;
}

.menu li a:hover{
    border-bottom: 3px solid #00cc99;
}

.banner{
    margin-bottom: 60px;
}

.title{
    width: 1001px;
    box-sizing: border-box;
    position: absolute;
    top: 150px;
    z-index: 0;
    padding: 35px 25px;
    background: rgba(0,0,0,0.3);
    color: #FFF;
    font-size: 32px;
    line-height: 1.5;
}


.course{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.course-item{
    width: 300px;
    box-sizing: border-box;
    border-radius: 10px ;
    box-shadow: 0px 5px 5px #cccccc;
    text-align: center;
    padding: 20px;
    margin: 0px 15px;
}

.course-item img{
    margin-bottom: 10px;
}

.rwd{
    padding: 25px 0px;
}

.course-item h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.course-item p{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    text-align: left;
}

.course-item li{
    text-align: left;
    line-height: 1.6;
    font-weight:200;
    list-style-type: disc;
    list-style-position:inside;
}

.sec-title{
    font-size: 20px;
    margin-bottom: 30px ;
    text-align: center;
}

.item{
    width: 840px ;
    margin:0 auto;
    margin-bottom: 60px;
}

.item th{
    border-bottom:1px solid #dddddd;
    padding:15px 25px 15px 25px;
    background:#f7f7f7;
    text-align:left;
    font-weight:500;
}
  
.item td{
    border-bottom:1px solid #dddddd;
    padding:15px 25px 15px 25px;
}
  
.hightLight {
    color:#00a67d;
}

.contact{
  box-sizing: border-box;
  width:1000px;
  background: linear-gradient(#00644b,#009771);
  margin-bottom:20px;
  padding: 30px 20px;
}

.contact h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #FFF;
}

.ContactForm{
    display: flex;
    justify-content: space-between;
}

.ContactForm textarea{
    box-sizing: border-box;
    width: 460px;
    height: 245px;
    resize: none;
    border: none;
    border-radius: 5px;

}

.ContactForm ul{
    box-sizing: border-box;
    width: 460px;
}

.item-title{
    display: block;
    color: #FFF;
    font-size: 16px;
    margin-bottom: 5px;
}

.text {
    width: 460px;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    padding: 10px;
}

.btn{
    background: #00cc99;
    color: #FFF;
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
    float:right;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

textarea, .text:focus{
    border-color: #00cc99;
    outline: 0;
    -webkit-box-shadow: inset 0px 1.5px 1.5px #00644b,0 0 10px #00a67d;
    box-shadow: inset 0px 1.5px 1.5px #00644b,0 0 10px #00a67d;
}

.btn:hover{
    background: #ebebeb;
    color: #00cc99;
}

.footer{
    clear:both;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer h1 a{
    display: block;
    width:171px ;
    height: 36px;
    background: url(images/footerLogo.png);
    text-indent:101%;
    overflow: hidden;
    white-space: nowrap;
}

.information a{
    text-decoration: none;
    color:#e12d80;
    display: block;
    margin-bottom: 10px;
}

.information span{
    color: #5d5d5d;
}